.buttonsCont button{
    margin: 10px;
    border: none;
    padding: 5px 20px;
    font-size: 1.5rem;
    cursor: pointer;
    background-color: rgb(204, 193, 94);
    border-radius: 10px;
    transition: .2s linear;
}
.buttonsCont button:hover{
    background-color: rgb(255, 244, 147);
    scale: 1.05;
}
.buttonsCont{
    margin-top: 30px;
    text-align: center;
}